body {
    background-color: black;
    margin: 0px;
    margin-top: 0px;
}
header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0)70%, black),
    linear-gradient(to bottom, rgba(255, 255, 255, 0)70%, black),
     url(THREEEed.png);
    width: 100%;
    height: 600px;
    background-size:cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.links {
    display: flex;
    gap: 20px;
    position: absolute;
    align-content: center;
}
.links a {
    width: 30px;
    height: 30px;
    color: #CEA123;
    display: flex;
    position: relative;
    top: 190px;

} 
.welcome {
    display: flex;
    color: #CEA123;
    padding: 20px;
    width: 90%;
    text-align: center;
    position: relative;
    top: 230px;

}
